.loginPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.quadradoTesteRoxo {
  width: 200px;
  height: 200px;
  background-color: purple;
}